  @import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
body {
  margin: 0;
  font-family: "Playwrite NO", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden ;
  padding: 0; 
  box-sizing: border-box;
}
html{
 scroll-behavior: smooth;
}
.section,.footer,.header{
  width: 100%;
  height: auto;
  max-width: 100%;
  padding: 25px 0;
  margin-bottom: 10%;
}
.container{
  padding-right: 0 !important;
}
a{
    text-decoration: none !important;
}
h1,h2,h3,h4,h5,h6,p{
  margin-left: 5%;
  line-height: 1.2;
  font-family: "Playwrite NO", cursive;
  margin-bottom: 1.5rem !important;
  color: #43121d;
}
button{
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
}
input{
  box-sizing: border-box;
  border: 1px solid #a82d49;
  text-align: left;
  padding: 5px 15px;
  color: #a82d49;
  font-size: 16px;
}
@media screen and (max-width: 1440px) {
  .container{
    width: 1440px;
    margin: 0 auto;
  }  
}
@media  screen and (max-width:430px) {
  .container{
    width: 430px;
    margin: 0 auto;
  }
.carousel-caption {
    position: static !important; 
    margin-top: -6%;           
    text-align: center;          
}
  .carousel-caption h3{
    color: #43121d;
    
}
.carousel-caption p{
    color: #a82d49;
}
.section5-home5-text {
    text-align: center;
    margin-top: 20px;
    gap: 0 !important;
    display: grid !important;
}
.input-group{
  width: 100% !important;
}
}